
.clear{
    position:relative;
    top:-10%;
    margin:2%;
    background: red;
    padding:1%;
    border-radius: 50%;
}

.buttons a{
    text-decoration: none;
    color:white;
}

.buttons input{
    padding:2%;
    color:white;
    background:green;
}

.buttons button{
 padding:2%;
 color:white;
 background: green;
}   

