

#section1 {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcb4BopK6MMUOr5pzCJIYksafj4gza5Y6i377fRrEMxfM9SB7JnQ");
 background-size: cover;
    
}
#section2{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcb4BopK6MMUOr5pzCJIYksafj4gza5Y6i377fRrEMxfM9SB7JnQ");
}
#section2 { background-size: cover;
    
}

.section{
    text-align: center;
    color: black;
}